<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Why happiness results in glowing skin">
    <meta name="description" content="">
    <title>{% block title %}Upserve!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/css/Home-Page-1.css') }}" media="screen">

    <meta name="generator" content="Nicepage 4.21.19, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
                background-color: rgba(254,235,239,0.48) !important
            }</style>
        <!-- Favicons -->
        <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
        <link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
        <link href="{{asset ('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    {% endblock %}


    {% block javascript %}
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

    <script class="u-script" type="text/javascript" src=" {{ asset('assets/jquery-1.9.1.min.js') }}" defer=""></script>

    <script class="u-script" type="text/javascript" src="{{ asset('assets/js/nicepage.js') }}" defer=""></script>
    <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "",
            "logo": "assets/images/l-removebg-preview1_1.png"
        }</script>

        <!-- Vendor JS Files -->
            <script src="{{ asset('assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/chart.js/chart.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/echarts/echarts.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/quill/quill.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
            <script src="{{ asset('assets/vendor/tinymce/tinymce.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

            <!-- Template Main JS File -->
            <script src="{{ asset('assets/js/main.js') }}"></script>
    {% endblock %}
    <!-- Include Flashy default partial -->

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home Page 1">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-overlap u-xl-mode" data-lang="fr">
{% block header %}
<header class="u-clearfix u-custom-color-6 u-header u-sticky-ce40 u-header" id="sec-cdb9">
    <nav class="u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" data-lang-en="{&quot;content&quot;:&quot;<svg class=\&quot;u-svg-link\&quot; viewBox=\&quot;0 0 24 24\&quot;><use xlink:href=\&quot;#menu-hamburger\&quot;></use></svg><svg class=\&quot;u-svg-content\&quot; version=\&quot;1.1\&quot; id=\&quot;menu-hamburger\&quot; viewBox=\&quot;0 0 16 16\&quot; x=\&quot;0px\&quot; y=\&quot;0px\&quot; xmlns:xlink=\&quot;http://www.w3.org/1999/xlink\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;>    <g>        <rect y=\&quot;1\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>        <rect y=\&quot;7\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>        <rect y=\&quot;13\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>    </g></svg>&quot;,&quot;href&quot;:&quot;#&quot;}" style="padding: 15px 12px; font-size: calc(1em + 30px);">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                    </g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base"  data-lang-en="{&quot;content&quot;:&quot;Home&quot;,&quot;href&quot;:&quot;#&quot;}" style="padding: 10px 1px 10px 20px;">Home</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="" style="padding: 10px 1px 10px 20px;">Contact</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" style="padding: 10px 1px 10px 20px;">Devenir Jobber</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" style="padding: 10px 1px 10px 20px;">Déconnxion</a>
                </li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-90 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close u-menu-close-1"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-spacing-7 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ path('display_client') }}" data-lang-en="{&quot;content&quot;:&quot;Home&quot;,&quot;href&quot;:&quot;#&quot;}" style="padding-top: 54px; padding-bottom: 54px;">Home</a>
                        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding-top: 54px; padding-bottom: 54px;">Contact</a>
                        </li><li class="u-nav-item"><a class="u-button-style u-nav-link"  href="{{ path('app_annonce_newc') }}" style="padding-top: 54px; padding-bottom: 54px;">Devenir Jobber</a>
                        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding-top: 54px; padding-bottom: 54px;">Déconnxion</a>
                        </li></ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav><a href="{{ path('display_client') }}"class="u-align-left u-image u-logo u-image-1" data-image-width="252" data-image-height="82" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">
        <img src="assets/images/l-removebg-preview1_1.png" class="u-logo-image u-logo-image-1">
    </a><a href="#" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-18 u-btn-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="assets/images/3416075-3349e360.png" alt=""></span>&nbsp;Demander un service
    </a></header>
{% endblock %}

{% block body %}

{% endblock %}


{% block footer %}
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-44c2"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" data-lang-en="Sample text. Click to select the Text Element.">WELCOME TO UPSERVE</p>
    </div></footer>
{% endblock %}

</body>
</html>